<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">
    </head>
    <body ng-app="myApp">

    <!-- Add your site or application content here -->
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a activate ng-href="#/">Home</a></li>
            </ul>
            <h3 class="text-muted">Proyecto Gema</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="content" ng-controller="tasksController">
                    <h2>To Do List</h2>
                    <p>Descripcion del to do list</p>

                    <form id="newTaskForm" class="add-task">
                        <div class="form-actions">
                            <div class="input-group">
                                <input type="text" class="form-control" name="comment" ng-model="taskInput" placeholder="Add New Task" ng-focus="addNewClicked">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="addTask(taskInput)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Agregar Tarea</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Tareas</h4></div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="task">
                                    <div class="task">
                                        <label class="checkbox" ng-repeat="task in tasks | filter : filterTask">
                                            <input
                                                    type="checkbox"
                                                    value="{{task.STATUS}}"
                                                    ng-checked="task.STATUS==2"
                                                    ng-click="toggleStatus(task.ID,task.STATUS, task.TASK)"/>
                                            <span ng-class="{strike:task.STATUS==2}">{{task.TASK}} [{{task.ID}}]</span>
                                            <a ng-click="deleteTask(task.ID)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Proyecto GEMA | Hexacta 2015</p>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="app/app.js"></script>

    </body>
</html>
